parameters:
	ignoreErrors:
		-
			message: "#^Method Pluswerk\\\\Sentry\\\\Command\\\\FlushCommand\\:\\:getClient\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/FlushCommand.php

		-
			message: "#^Property Pluswerk\\\\Sentry\\\\Command\\\\FlushCommand\\:\\:\\$httpClientCache type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Command/FlushCommand.php

		-
			message: "#^Method Pluswerk\\\\Sentry\\\\Queue\\\\Entry\\:\\:jsonSerialize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Queue/Entry.php

		-
			message: "#^Parameter \\#1 \\$fp of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: Classes/Queue/FileQueue.php

		-
			message: "#^Parameter \\#1 \\$source of function stream_get_contents expects resource, resource\\|false given\\.$#"
			count: 1
			path: Classes/Queue/FileQueue.php

		-
			message: "#^Parameter \\#1 \\$stream of function stream_filter_append expects resource, resource\\|false given\\.$#"
			count: 1
			path: Classes/Queue/FileQueue.php

		-
			message: "#^Constant TYPO3_MODE not found\\.$#"
			count: 2
			path: Classes/Service/ScopeConfig.php

		-
			message: "#^Constant TYPO3_version not found\\.$#"
			count: 1
			path: Classes/Service/ScopeConfig.php

		-
			message: "#^Method Pluswerk\\\\Sentry\\\\Service\\\\ScopeConfig\\:\\:getExtras\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ScopeConfig.php

		-
			message: "#^Method Pluswerk\\\\Sentry\\\\Service\\\\ScopeConfig\\:\\:getTags\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ScopeConfig.php

		-
			message: "#^Method Pluswerk\\\\Sentry\\\\Service\\\\ScopeConfig\\:\\:getUserContext\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ScopeConfig.php

		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 1
			path: Classes/Service/Sentry.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\ObjectManager not found\\.$#"
			count: 1
			path: Classes/Service/Sentry.php

		-
			message: "#^PHPDoc tag @throws with type TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\Exception is not subtype of Throwable$#"
			count: 1
			path: Classes/Service/Sentry.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, TYPO3\\\\CMS\\\\Core\\\\Core\\\\ApplicationContext given\\.$#"
			count: 1
			path: Classes/Service/Sentry.php

		-
			message: "#^Variable \\$env on left side of \\?\\? is never defined\\.$#"
			count: 1
			path: Classes/Service/Sentry.php

		-
			message: "#^Parameter \\#2 \\$payloadSerializer of class Pluswerk\\\\Sentry\\\\Transport\\\\QueueTransport constructor expects Sentry\\\\Serializer\\\\PayloadSerializerInterface, object given\\.$#"
			count: 1
			path: Classes/Transport/TransportFactory.php

		-
			message: "#^Parameter \\#3 \\$queue of class Pluswerk\\\\Sentry\\\\Transport\\\\QueueTransport constructor expects Pluswerk\\\\Sentry\\\\Queue\\\\QueueInterface, object given\\.$#"
			count: 1
			path: Classes/Transport/TransportFactory.php
